
<footer class=" footer text-center py-5 ">

		<div class="row ">
			<div class="col-6 col-md text-center">
				<!--mg class="mb-2" src="kapapilogo.svg" alt="" width="24" height="24"-->
				<small class="d-block mb-3 ">Copyright © 2023 Konstantinos Velissariou </small>
				
				<small class="d-block mb-3 ">Logo Created by monogramframes.com</small>
				<!--<p><small class="d-block mb-3 text-muted">
				DNS Powered by <font color="#006699"><a href="http://www.dnsExit.com">DNS</a></font><a href="http://www.dnsExit.com"><font color="#FF6600">EXIT</font>.COM</a></small></p> -->
				<small class="d-block mb-3 ">	<a href="privacy-policy-kapapi.html" style="color:white; ">privacy policy</a></small>
			</div>

			<div class="col-6 col-md text-center">
				<h6>KapaPi Software</h6>
				<ul class="list-unstyled text-small">
					<!--<li>registry code 14540898</li>
					<li>Kuusalu vald, Pudisoo küla, Männimäe, 74626, Estonia </li>	-->				
				</ul>
				<div class="d-flex flex-column align-items-center">
					<div> <i class="far fa-envelope"></i>
						<a class="lead font-weight-bold" href="mailto:kapapisoftware@gmail.com"  style="color:white;">kapapisoftware@gmail.com</a>
					</div>						
				</div>
			</div>
		</div><!-- row -->
	
</footer><!-- footer -->

</body>

</html>