{{> header}}	
	 <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
				<!--img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt=""-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading mb-0">Business software</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">Accounting - Sales - Cost calculation</p>
            </div>
        </header>
	
   <div  class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">CostMan</h1>
      <p lang='el' class="lead">To CostMan είναι λογισμικό κοστολόγησης. Σας βοηθάει να κοστολογήσετε εύκολα και με ακρίβεια τα προϊόντα, τα εμπορεύματα και τις υπηρεσίες που προσφέρετε στους πελάτες σας.</p>
	  <p lang='el' class="lead"><a href="costmangr01.html"> περισσότερα..</a></p>
	  <p lang='en' class="lead">CostMan is a software that helps you calculate the cost of products and services that you offer to your customers.</p>
    </div>
	
	
    <div  class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">KP Books</h1>
      <p lang='el'  class="lead">To KP Books είναι το λογισμικό που σας δίνει μια ξεκάθαρη εικόνα για το πως πηγαίνει η επιχείρησή σας.</p>
	  <p lang='en'  class="lead">KP Books is an accounting software that lets you have a clear look at how your business is doing.</p>
	  <p lang='en' class="lead"><a href="kpbooks01en.html"> more..</a></p>
	  <p lang='el' class="lead"><a href="kpbooks01gr.html"> περισσότερα..</a></p>
    </div>



{{> footer}}