{{> header_doc}}
<div class=" bd-layout"><!-- class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">-->
    <aside class="bd-sidebar">
        
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
            </div>

            <div class="offcanvas-body">
            <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Docs navigation"><ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
        <li class="bd-links-group py-2">
        

            <ul class="list-unstyled fw-normal pb-2 small">
                <li><a href="#" onclick='document.getElementById("iframe").setAttribute("data", "/docs/el/kpbooks_intro.html");'class="bd-links-link d-inline-block rounded">
                Ξεκινώντας για πρώτη φορά
                </a></li>
                <li><a href="#" onclick='document.getElementById("iframe").setAttribute("data", "/docs/el/clients.html");' class="bd-links-link d-inline-block rounded">
                Πελάτες
                </a></li>
                <li><a href="#" onclick='document.getElementById("iframe").setAttribute("data", "/docs/el/projects.html");' class="bd-links-link d-inline-block rounded">
                Εργα
                </a></li>
                <li><a href="#" onclick='document.getElementById("iframe").setAttribute("data", "/docs/el/import_excel_file.html");' class="bd-links-link d-inline-block rounded">
                Εισαγωγή δεδομένων από Excel
                </a></li>
                <li><a href="#" onclick='document.getElementById("iframe").setAttribute("data", "/docs/el/data_sync.html");' class="bd-links-link d-inline-block rounded">
                Συγχρονισμός συσκευών
                </a></li>
            </ul>
        </li>
        
        
    </ul>
    </nav>

            </div>
        </div>

    </aside>   

<main  class="container">
    
        <object type="text/html" id="iframe" data="docs/el/kpbooks_intro.html" width="100%"  height="2000"  ></object>

</main>

</div>
<script>
document.getElementById('title').innerHTML = "kpBooks Οδηγίες χρήσης";
</script>
{{> footer}}