{{> header}}

<script>
	function doLang( e) 
	{
	    
		localStorage.setItem("langindex", e.selectedIndex);
		if(e.selectedIndex == 1)
			window.location.href = "kpbooks01gr.html";;
	}
</script>

<header class="masthead bg-primary text-white text-center">
	<h2> free kp-Books Δωρεάν έκδοση για Windows 10</h2>
</header>

<div class="container">
 <div class="row">
 <div class="col-12 mx-auto">
        <div class="text-center">
<h3 class="pre-wrap masthead-subheading font-weight-light mb-0 text-center">
<a class="text-center" href="https://www.kapapi.com/downloads/uwp/freekpbooks/Suppliers.UWP_2.3.5.0_Test.zip">κατέβασμα εφαρμογής</a>
</h3>
<h3 class="pre-wrap masthead-subheading font-weight-light mb-0 text-center">
<a class="text-center" href="https://www.kapapi.com/downloads/uwp/ΟΔΗΓΙΕΣ ΕΓΚΑΤΑΣΤΑΣΗΣ για Windows 10.pdf">ΟΔΗΓΙΕΣ ΕΓΚΑΤΑΣΤΑΣΗΣ για Windows 10</a>
</h3>
</div>
</div>

</div>
</div>
{{> footer}}